.top__box {
  padding: 10px 0;
  margin: 0 3%;
  .top__box-hashtags {
    font-size: 12px;
  }
  .top__box-title {
    margin-top: 5px;
    font-size: 30px;
  }
}

.middle__box {
  margin: 2% 3%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  .like{
      cursor: pointer;
      i {
        opacity: 0.8;
        margin: 0 2px;
      }
  }
  .share {
    cursor: pointer;
  }
}

.middle__hr {
  width: 95%;
  border-color: #626262;
}

#commentForm {
  max-width: none;
  border: none;
  background-color: transparent;
  display: flex;
  padding: 18px;
    textarea {
      height: 30px;
      width: 97%;
      background-color: transparent;
      color: white;
      font-size: 18px;
    }
    button {
      background-color: grey;
    }
  }

.video__comments {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    .video__comment {
      padding: 10px;
      border-radius: 9999px;
      background-color: white;
      color: black;
      margin-bottom: 10px;
    }
  }
.video__delete {
  padding: 5px;
  margin-left: 20px;
  width: max-content;
  background-color: red;
  border-radius: 10px;
}

