#shareContainer {
  position: fixed;
  left: 50%;
  transform: translate(-50%,20%);
  z-index: 2023;
  min-width: 380px;
  max-width: 500px;
  width: 40vw;
  padding: 20px;
  background-color: #212121;
  flex-direction: column;
  .share__header,
  .share__icons {
    margin-bottom: 25px;
  }
  .share__header {
    display: flex;
    justify-content: space-between;
    i {
      cursor: pointer;
      &:hover{
        box-shadow: 1px 1px 20px $red;
      }
    }
  }
  .share__icons {
    img {
      height: 73px;
      width: 73px;
      border-radius: 36px;
      margin-bottom: 10px
    };
    .share__icon {
      display: flex;
      flex-direction: column;
      width: fit-content;
      cursor: pointer;
    }
  }
  .share__link {
    display: flex;
    align-items: center;
    input {
      margin-right: 7px;
    }
    .share__link-copy {
      cursor: pointer;
      border: none;
      border-radius: 5px;
      color: aqua;
      background-color: transparent;
      &:active {
        background-color: #626262;
      }
    }
  }
}

.top__box {
  padding: 10px 0;
  margin: 0 3%;
  .top__box-hashtags {
    font-size: 12px;
  }
  .top__box-title {
    margin-top: 5px;
    font-size: 30px;
  }
}

.middle__box {
  margin: 2% 3%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  .like{
      cursor: pointer;
      i {
        opacity: 0.8;
        margin: 0 2px;
      }
  }
  .share {
    cursor: pointer;
  }
}

.owner{
  margin: 18px 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .owner__avatar {
    display: flex;
    justify-content: center;
    width: 8%;
    font-size: 20px;
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }
  .owner__info {
    width: 80%;
    .owner__info-username {
      font-size: 20px;
    }
  }
  .owner__subscription {
    width: 12%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      height: 37px;
      width: 80px;
      border: none;
      border-radius: 2px;
      color: white;
      cursor: pointer;
    }
    .owner__subscription-btn {
      background-color: #CC0100;
    }
    .owner__subscription-after-btn {
      background-color: #303030;
      opacity: 0.8;
    }
    i {
      margin-left: 10px;
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

.middle__hr {
  width: 95%;
  border-color: #626262;
}

#commentForm {
  max-width: 95%;
  border: none;
  background-color: transparent;
  display: flex;
  padding: 18px;
    textarea {
      height: 36px;
      width: 100%;
      background-color: transparent;
      color: white;
      font-size: 18px;
    }
    button {
      background-color: grey;
    }
  }

.video__delete {
  padding: 5px;
  margin-left: 2.5%;
  width: max-content;
  background-color: red;
  border-radius: 10px;
}

.video__comments {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    display: flex;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
    .userIcon {
      margin-right: 15px;
      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }
    .video__comment-content {
      .video__comment-text{
        margin-top: 10px;
        font-size: 18px;
      }
      .video__comment-controls {
        margin-top: 15px;
        display: flex;
        .comment-like,
        .editBtn, 
        .removeBtn {
          cursor: pointer;
          margin-right: 10px;
          font-size: 15px;
          opacity: 0.8;
        }
      }
    }
  }
}

i{
  margin-right: 3px;
}
