header{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#212121 ;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            margin-left: 30px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }
        i{
            font-size: 16px;
        }
    }
    .header__btn {
        background-color: white;
        color: $bg;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .header__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}    .header__left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menuBar {
            margin-right: 20px;
            font-size: 20px;
            cursor: pointer;
            
        }
        .header__logo {
            display: flex;
            align-items: center;
            font-size: 20px;
            i{
                color: $red;
                font-size: 38px;
            }
        }
    }

.hidden {
    display: none;
}