extends base.pug

block content
    if errorMessage
        span=errorMessage
    form(method="POST") <!--action="/videos/upload"은 어차피 아무 url도 안 적어주면 해당 url에서 실행하기 때문에 없어도 된다.-->
        input(name="title",placeholder="Title", required, type="text", maxlength=80)
        input(name="description",placeholder="Description", required, type="text", minlength=20)
        input(name="hashtags",placeholder="Hashtags, separated by comma.", required, type="text")
        input(type="submit", value="Upload Video")