div.menu.hidden(data-user=loggedInUser._id)
    div.menu__header 
        include header-left
    div.menu__content
        div.menu__content-user
            ul 
                a(href="/")
                    li
                        div 
                            i.fas.fa-house
                            |  Home
                if loggedIn
                    a(href=`/users/subscription`) 
                        li
                            div 
                                i.fas.fa-photo-video
                                |  Subscription
        hr
        if loggedIn
            div.menu__content-video 
                ul 
                    a(href=`/users/like-videos`)
                        li 
                            i.fas.fa-thumbs-up 
                            |  Liked-Videos
            hr
            div.menu__subscription
                div.menu__subscription-title Subscription
                    
                
